@font-face {
    font-family: 'Triforce' ;
    src: url(fonts/Triforce.ttf);
}

h1 {
    font-size: 250%;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: 'Triforce';
}
.dark-mode {
    background-color: black;
    color: goldenrod;
}
button {
    background-color: goldenrod;
    position: absolute;
    bottom: 90%;
    right: 90%;
    font-family: 'Triforce';
    font-size: 65%;    
}
.navbar {
    position:absolute;
    border: red;
}
.myImg {
    display: flex;
    align-items: center;
    justify-content: center;
    
}